Android.bp filter=lfs diff=lfs merge=lfs -text
openbsd-reallocarray.c filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
gif_font.c filter=lfs diff=lfs merge=lfs -text
gif_lib_private.h filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
quantize.c filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
gifalloc.c filter=lfs diff=lfs merge=lfs -text
gif_hash.c filter=lfs diff=lfs merge=lfs -text
gif_hash.h filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
dgif_lib.c filter=lfs diff=lfs merge=lfs -text
egif_lib.c filter=lfs diff=lfs merge=lfs -text
gif_err.c filter=lfs diff=lfs merge=lfs -text
gif_lib.h filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
